body {
	background: $branco;
	font-family: Din-L;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: $branco;
}

header {
	height: 100vh;
}

// #home {
//  background: url('../images/background.jpg');
//   z-index:0;
//   height:100vh;
//   background-size: calc(cover + 400px);
//   background-repeat: no-repeat;
// }

section {
	padding: 100px;
}

section h2 {
	text-align: center;
	font-size: 32px;
	color: $azul-marinho;
	&:after {
		content: "";
		background: $azul-ciano;
		display: block;
		margin: 0 auto;
		width: 100px;
		height: 2px;
		position: relative;
		top: 2px;
	}
}

img {
	height: auto;
	max-width: 100%;
}

.animate-zoom {
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.animate-left {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.animate-right {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.flex {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}