.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

nav {
	transition: .5s;
	padding: 10px 0 25px 0;
}

nav .logo-img {
	position: relative;
	height: 20px;
	& img {
		transition: .5s;
		height: 60px;
		padding-left: 70px;
	}
}

#burger {
	visibility: hidden;
}

nav .itens-menu {
	width: 60%;
	position: relative;
    display: block;
    margin: 0 auto;
	& ul {
	display: flex;
	justify-content: space-around;
	}
	& li a {
		font-family: Din-R;
		color: $branco;
		transition: .5s;
		&:after {
			content: "";
			background: $verde-agua;
			display: block;
			width: 0;
			height: 2px;
			position: relative;
			top: 2px;
		    transition: all 0.3s ease 0s;
		}
		&:hover:after {
			width: 100%;
		}
		&:active:after {
			width: 100%;
		}
	}
}

nav.fixed-navbar {
	position: fixed;
    width: 100%;
    background: #fff;
    z-index: 2;
    border-bottom: 2px solid $azul-turquesa;
    // & .logo-img img {
    // 	transform: scale(1.7);
    // }
	& .itens-menu ul li a {
		color: $azul-marinho;
	}
	& img {
		fill: white;
	}
}

header .hero-text {
	text-align: center;
	color: $azul-ciano !important;
	font-size: 48px;
	text-transform: uppercase;
	position: relative;
	transform: translateX(-50%);
	top: 30%;
	left: 50%;
	&:first-line {
		font-family: Din-R;
	}
	& .wrap {
		color: $azul-ciano;
	}
}

.saiba-mais {
	font-weight: 600;
	position: absolute;
	text-align: center;
	transform: translateX(-50%);
	left: 50%;
	bottom: 15vh;
	background: $verde-agua;
	padding: 15px 25px;
	transition: .5s;
	&:before {
	    position: absolute;
	    content: '';
	    left: calc(50% - 10px);
	    bottom: 0;
	    border-style: solid;
	    border-width: 10px 10px 0 10px;
	    border-color: #00acc1 transparent transparent transparent;
	    transition: .5s;
	}
	&:hover {
		transform: translate(-50%, -15px);
		&:before {
			transform: translateY(10px);
		}
	}
}

div.responsive-nav {
	display: none;
}
