#sobre {
	position: relative;
	float: none;
	& .flex {
		margin-top: 50px;
		justify-content: center;
		padding: 0 70px;
	}
}


.time-card {
	@include column(1/2);
	transition: .5s;
	padding: 20px 0;
	opacity: 0;
	cursor: default;
	&:hover {
		background: #fff;
	    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	}
	& img {
	    width: 25%;
	    height: 25%;
	    display: block;
	    margin: 0 auto 30px;
	    transition: .5s;
	}
	& p {
		text-align: center;
		font-size: 16px;
		font-family: Din-R;
		line-height: 24px;
		padding: 30px;
	}
}